*.log
*.blg
*.bbl
*.aux
*.gz
*.out
*.beam
*.glob
*.vo
*.vos
*.vok
*.temp
stack.yaml.lock
.stack-work/
.vscode/
.history/
*.lia.cache
*.nia.cache
src/gen_test.v
.Makefile.d
*.crashcoqide
CoqMakefile
CoqMakefile.conf
.CoqMakefile.d

